{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Biblioteca Mea</title>
</head>
<body class="home-page">
    <div class="background-image"></div>
    <div class="container">
        <div class="text-container">
            <header>
                <h1 class="welcome-title">Welcome to BookZone!</h1>
            </header>
        </div>
    </div>

    <main>
        <section class="intro">
            <div class="mt-5">
                {% if user.is_authenticated %}
                <div class="auth-buttons text-center">
                    <a href="{% url 'book_list' %}" class="btn btn-success">My List</a>
                    <a href="{% url 'add_book' %}" class="btn btn-success">Add Book</a>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
                {% else %}
                <div class="login-button text-center">
                    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
                </div>
                {% endif %}
            </div>
        </section>

        <section class="hero">
            <div class="hero-content">
                <h1>A reader lives a thousand lives.</h1>
                <p>Discover new books.</p>
                <a href="{% url 'book-recommendations' %}" class="btn btn-primary recommendations-button">See our recommendations</a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; {{ year }} BookZone. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

</body>
</html>
