{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'books/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"  crossorigin="anonymous">

    <title>Lista Mea</title>
    <style>
        .titlu-carte { cursor: pointer; }
        .titlu-carte:hover { text-decoration: underline; }
        .detalii-carte { display: none; }
    </style>
</head>
<body class="body-background">

    <h1> Lista Mea </h1>

    <ul class="book-list">
        {% for book in books %}
            <li>
                <span class="titlu-carte" onclick="toggleDetails('detalii-{{ book.id }}')">
                    {{ book.titlu }}
                </span>
                <div id="detalii-{{ book.id }}" class="detalii-carte">
                    <p>Autor: {{ book.autor }}</p>
                    <p>Gen: {{ book.gen }}</p>
                    <p>Rezumat: {{ book.rezumat }}</p>
                    <p>Adăugată la: {{ book.data_adaugare }}</p>
                    <p class="book-detail">Descrierea cărții</p>

                    <a href="{% url 'edit_book' book.id %}">Editează</a>
                    <a href="{% url 'delete_book' book.id %}">Șterge</a>
                </div>
            </li>
        {% empty %}
            <li>Nu există cărți adăugate încă.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_book' %}" class="add-book-button">Adaugă o Carte</a>


    <script>
        function toggleDetails(id) {
            var details = document.getElementById(id);
            details.style.display = details.style.display === 'none' ? 'block' : 'none';
        }
    </script>
</body>
</html>
