{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/listamea.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"  crossorigin="anonymous">

    <title>My List</title>
    <style>
        .titlu-carte { cursor: pointer; }
        .titlu-carte:hover { text-decoration: underline; }
        .detalii-carte { display: none; }
    </style>
</head>
<body class="body-background">
    <div class="book-container">
        <ul class="book-list">

    <h1> My List </h1>


        {% for book in books %}
            <li>
                <span class="titlu-carte" onclick="toggleDetails('detalii-{{ book.id }}')">
                    {{ book.title }}
                </span>
                <div id="detalii-{{ book.id }}" class="detalii-carte">
                    <p>Author: {{ book.author }}</p>
                    <p>Genre: {{ book.genre }}</p>
                    <p>Summary: {{ book.summary }}</p>
<!--                    <p>Added on: {{ book.added_on }}</p>-->


                    <a href="{% url 'edit_book' book.id %}">Editează</a>
                    <a href="{% url 'delete_book' book.id %}">Șterge</a>
                </div>
            </li>
        {% empty %}
            <li>Nu există cărți adăugate încă.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_book' %}" class="add-book-button">Add book</a>


    <script>
        function toggleDetails(id) {
            var details = document.getElementById(id);
            details.style.display = details.style.display === 'none' ? 'block' : 'none';
        }
    </script>
</body>

</html>
